@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    margin:0;
    padding:0;
}
body {
    background-color: #cfdee7;
    font-family: 'Montserrat';
}
#navHeading {
    color:white;
    padding-left:10px;
    font-family:'Montserrat';
    letter-spacing: 3px;
}
nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 20px 0px;
    background-color: #4472ca;
    justify-content: center;

}

nav img{
    width: 100px;
    height: 80px;
}

.fields-left {
    display:flex;
    flex-direction: column;
}

.fields-right {
    display:flex;
    flex-direction: column;
}


.fields {
    margin:20px 10px 0px 10px;
    
    display:flex;
    justify-content: space-between;

}
.fields input {
    width:200px;
    padding:3px;
    border-radius: 5px;
    outline:none;
    border:1px solid #4472ca;
}

.inputs div{
    width:400px;
    
    display:flex;
    justify-content: space-between;
    padding:5px;
}
hr {
    color: #4472ca;
}

#cartDetails {
    margin-top:50px;
    letter-spacing: 2px;
    padding-left: 10px;
    font-size:30px;
    text-align: center;
    margin-bottom: 20px;
}
.table-section {
    
    margin-top:50px;
    margin-bottom:20px;
    display:flex;
    justify-content: center;

}

.table-section input {
    width:120px;
}

th {
    font-size:20px;
    padding:3px;
}
td {
    padding: 5px;
    font-size: 15px;
    width:160px;
}

th, td {
    border: 1.4px solid #4472ca;
}
table {
    border-collapse: collapse;

}


select {
    padding: 3px 15px 3px 15px;
    border-radius: 5px;
    border: 1px solid #4472ca;
    background: transparent;
    width:140px;
}

input {
    padding: 3px 15px 3px 15px;
    border-radius: 5px;
    border: 1px solid #4472ca;
    background: transparent;
    
}
img {
    border-radius:10%;
    padding:10px;
    width: 250px;
    HEIGHT:130px;
}

.button-section {
    width:70%;
    margin:auto;
    display:flex;
    justify-content: space-around;
    padding:20px;
    margin-bottom: 50px;
}

button {
    font-size:15px;
    font-family: 'Montserrat';
    letter-spacing: 2px;
    border-radius: 5px;
    width:180px;
    height:50px;
    background-color: #0a369d;
    color:white;
    border:1px solid;
    transition: all 0.3s ease-in-out;
    border: 1.5px solid #0a369d;
}

button:hover {
    cursor:pointer;
    background-color: white;
    color: #0a369d;
    border: 1.5px solid #0a369d;
}

